<script>
  import {
    Carousel,
    CarouselControl,
    CarouselIndicators,
    CarouselItem,
  } from "sveltestrap";

  const items = [
    "https://i.pinimg.com/originals/e4/d2/cb/e4d2cbd388fda2113f8da2cd44b72d36.jpg",
    "https://i.pinimg.com/originals/bc/19/38/bc19380b78720ea72057b1765e56c1d2.jpg",
    "https://ie.nitk.ac.in/blog/wp-content/uploads/2019/12/D9rltNzVUAAQ69I.jpg",
  ];
  let activeIndex = 0;
</script>

<Carousel {items} bind:activeIndex>
  <CarouselIndicators bind:activeIndex {items} />

  <div class="carousel-inner">
    {#each items as item, index}
      <CarouselItem bind:activeIndex itemIndex={index}>
        <img
          src={item}
          class="d-block w-100"
          height="400px"
          width="800px"
          alt={`${item} ${index + 1}`}
        />
      </CarouselItem>
    {/each}
  </div>

  <CarouselControl direction="prev" bind:activeIndex {items} />
  <CarouselControl direction="next" bind:activeIndex {items} />
</Carousel>
