<script>
  import Carousel from "./carousel/carousel.svelte";
  import { Col, Container, Row } from "sveltestrap";
  import Card from "./card/card.svelte";
  import Footer from "./footer/footer.svelte";
</script>

<main>
  <Carousel />
  <div class="container-fluid">
    <Row>
      <Col xs="6"><Card /></Col>
      <Col xs="6"><Card /></Col>
    </Row>
  </div>
  <div class="container-fluid mb-5">
    <Row>
      <Col xs="8"><Card /></Col>
      <Col xs="4"><Card /></Col>
    </Row>
  </div>
  <Footer />
</main>

<style>
</style>
