<footer class="bg-primary text-white text-center fixed-bottom">
  <div>
    Latihan Sveltestrap: <a
      class="text-white"
      href="https://sveltestrap.js.org/?path=/story/components--card"
      >Sveltestrap</a
    >
  </div>
</footer>
